.bg-image {
    background-image: url("/assets/images/auth_bg.jpg");
    min-height: 100vh;
    z-index: -999;
}

.container {
    display: flex;
    justify-content: center;
}

.container.login_container {
    padding-top: 10%;
}

.container.register_container {
    padding-top: 5%;
}

.card {
    z-index: 2;
    margin-right: 50%;
    width: 35%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    outline: none;
    border-style: none;
}

.card-header {
    background-color: #ffc000;
    text-align: center;
}

.titolo {
    color: black;
    font-weight: bold;
}

.label {
    color: white;
}

.text-red {
    color: red;
}

.login-btn-container {
    display: flex;
    justify-content: center;
}

.vinile {
    position: absolute;
    margin-left: -5%;
    width: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.vinile.login_img {
    height: 56%;
}

.vinile.register_img {
    height: 80%;
}

.form-one-line {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .vinile {
        display: none;
    }

    .card {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}