/**
 * CSS per l'autenticazione
 * @author Davide De Acetis
 */

.bg-image {
    background-image: url("/assets/images/auth_bg.jpg");
    min-height: 100vh;
    z-index: -999;
}

.container {
    display: flex;
    justify-content: center;
}

.container.login_container {
    padding-top: 30vh;
}

.container.register_container {
    padding-top: 20vh;
}

.card {
    z-index: 2;
    width: 35%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    outline: none;
    border-style: none;
}

.card-header {
    background-color: #ffc000;
    text-align: center;
}

.titolo {
    color: black;
    font-weight: bold;
}

.label {
    color: white;
}

.text-red {
    color: red;
}

.login-btn-container {
    display: flex;
    justify-content: center;
}

.vinile {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: -12rem;
    width: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.vinile.login_img {
    height: 21.5rem;
}

.vinile.register_img {
    height: 31rem;
}

.form-one-line {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .vinile {
        display: none;
    }

    .card {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}