/**
 * CSS per tutte le viste
 * @author Davide De Acetis
 */

.page-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    min-height: calc(100vh - 64px);
}

.horizontal-separator {
    background-color: gray;
    height: 1px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.link {
    text-decoration-line: underline;
    color: black;
}

.link:hover {
    text-decoration-line: underline;
    color: blue;
}

.tabelle-filtro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 991px) {
    .tabelle-filtro-container {
        display: block;
        width: 100%;
        padding: 0;
    }
}
